.brand-title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px !important;
    text-align: center;
}
.login-input .form-group .form-control{
    background: #0000000d;
    padding-left: 12px;
}
.m-down {
	margin-top: 1.8rem !important;
}